# Создание дашборда по пользовательским событиям для агрегатора новостей

Для создания дашборда необходимо выгрузить данные из базы

In [1]:
!pip install psycopg2-binary
!python -m pip install --upgrade 'sqlalchemy<2.0'

Requirement already satisfied: psycopg2-binary in c:\users\bellocal\appdata\roaming\python\python39\site-packages (2.9.6)

ЌҐ г¤ Ґвбп ­ ©вЁ гЄ § ­­л© д ©«.

In [2]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])


engine = create_engine(connection_string)
query = ''' SELECT* FROM dash_visits'''


dash_visits = pd.io.sql.read_sql(query, con=engine, index_col='record_id')
dash_visits.to_csv('dash_visits.csv', index=False)
dash_visits.head(10)

          item_topic source_topic age_segment                  dt  visits
record_id
1040597       Деньги         Авто       18-25 2019-09-24 18:32:00       3
1040598       Деньги         Авто       18-25 2019-09-24 18:35:00       1
1040599       Деньги         Авто       18-25 2019-09-24 18:54:00       4
1040600       Деньги         Авто       18-25 2019-09-24 18:55:00      17
1040601       Деньги         Авто       18-25 2019-09-24 18:56:00      27
1040602       Деньги         Авто       18-25 2019-09-24 18:57:00      22
1040603       Деньги         Авто       18-25 2019-09-24 18:58:00      24
1040604       Деньги         Авто       18-25 2019-09-24 18:59:00      20
1040605       Деньги         Авто       18-25 2019-09-24 19:00:00       5
1040606       Деньги         Авто       26-30 2019-09-24 18:29:00       1

Источники данных для дашборда: агрегирующая таблица dash_visits. 

Её структура:
- record_id — первичный ключ,
- item_topic — тема карточки,
- source_topic — тема источника,
- age_segment — возрастной сегмент,
- dt — дата и время,
- visits — количество событий.